#section-projects {

  // Background styling.
  background-image: url("../media/images/backgrounds/cubes.png");
  background-repeat: repeat;
  background-attachment: fixed;

  // Container for list of projects.
  .container-projects {

    // Container for one project: handles responsive grid and margins.
    .responsive-container {
      margin: 0;
      padding: 0;
    }

    // Container for one project: project layout.
    .container-project {
      background-color: #FFFFFF;
      box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.1);
      box-sizing: border-box;

      margin: 5px;
      font-size: 1.25rem;
    }

    // Container for one project: project info.
    .container-project-info {
      position: relative;
      padding: 10px;

      // Close button.
      .btn-close {
        position: absolute;
        font-size: 2rem;
        top: -5px;
        right: 5px;
      }

      // Project title.
      .title {
        padding: 5px 0 5px 0;
        font-weight: bold;
        margin-top: 10px;
      }

      // Project description.
      .description {
        padding: 5px 0 5px 0;
      }

      // Technology icons.
      .container-icons {
        padding: 5px 0 5px 0;
        // Center icons.
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        // Icon spacing.
        .container-icon {
          margin: 5px;
          .icon { font-size: 2rem; }
        }
      }

      // Demo and GitHub buttons.
      .container-buttons {
        padding: 5px 0 5px 0;
        display: flex;
        flex-flow: column nowrap;
        a {
          border: solid 1px #000000;
          border-radius: 3px;
          padding: 5px;
          &:last-child { margin-top: 5px; }
          &:hover {
            background-color: #DC143C;
            border-color: #DC143C;
            color: #FFFFFF;
            transition: all 0.5s ease;
          }
        }
      }

      // Hide Project Details container.
      .container-hide-details {
        padding: 15px 0 15px 0;
      }
    }

  }

}
