#section-aboutme {

  // Background styling.
  background-image: url("../media/images/backgrounds/white_brick_wall.png");
  background-repeat: repeat;
  background-attachment: fixed;

  .container-section-content {
    .heading { font-size: 3rem; }
    font-size: 2rem;
  }

  .container-icon {
    .icon { font-size: 3rem; line-height: 0px; }
    .label { font-size: 1.5rem; }
    margin-bottom: 35px;
  }

}
