$opacity: 0.3;

#section-home {
  // Background styling.
  background-image: linear-gradient(rgba(0,0,0,$opacity), rgba(0,0,0,$opacity)),
                    url("../media/images/backgrounds/W1YL4ZANPU.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  // Font colours.
  color: #FFFFFF;

  // Layout.
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  // Container of Icons.
  .container-icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    // Individual icon.
    .container-icon {
      // Entire container clickable.
      a { display: block; }
      // Middle icon spacing.
      &:nth-child(2) {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}
