#section-contactme {

  // Background styling.
  background-image: url("../media/images/backgrounds/footer_lodyas.png");
  background-repeat: repeat;
  background-attachment: fixed;

  color: #FFFFFF;

}
