#section-aboutme {

  // Center.
  display: flex;
  justify-content: center;

  // Background styling.
  background-image: url("../media/images/backgrounds/white_brick_wall.png");
  background-repeat: repeat;
  background-attachment: fixed;

  // Main section heading.
  .section-main-heading { font-size: 3em; }

  // Section content sizing.
  p { font-size: 1.75em; }

  // Icon and Icon label sizing.
  .icon { font-size: 3.75em; }
  .icon-label {font-size: 1.5em;margin-top: -10px; margin-bottom: 10px}
}
