$opacity: 0.3;

// Force a table layout just for <SectionHome/>.
// Want to keep contents vertically and horizontally aligned, and
// maintain flow of the page.
.force-table { display: table; width: 100%;}
.force-table-row { display: table-row; width: 100%;}

#section-home {

  width: 100%;

  // Text colour.
  color: #FFFFFF;

  // Align content in middle of div (horizontally and vertically).
  display: table-cell;
  vertical-align: middle;

  // Add margin around the GitHub, LinkedIn, Twitter icons.
  .iconarray span { margin: 5px; }

  // Background styling.
  background-image: linear-gradient(rgba(0,0,0,$opacity), rgba(0,0,0,$opacity)),
                    url("../media/images/backgrounds/W1YL4ZANPU.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
