#section-projects {

  // Background styling.
  background-image: url("../media/images/backgrounds/cubes.png");
  background-repeat: repeat;
  background-attachment: fixed;


  // Main section heading.
  .section-main-heading { font-size: 3em; }

  // Section content sizing.
  p { font-size: 1.75em; }

  // Debug
  .project-panel {
    background-color: #FFFFFF;
    margin-top: 1.25%;
    margin-bottom: 1.25%;
  }

  .project-title {
    border: solid 1px #CCCCCC;
    padding: 10px 0 10px 0;
    font-size: 1.5em;
  }

  .project-image-container {
    border: solid 1px #CCCCCC;
    border-top: none;
    border-bottom: none;
  }

  .project-buttons {
    border: solid 1px #CCCCCC;

    .icon {font-size: 2em}
    .icon-label {font-size: 1.5em; margin-top: -15px;}
  }


}
