// Load Oswald font.
@font-face {
  font-family: "Oswald";
  src: url("../media/fonts/Oswald-Regular.ttf");
}

body {
  font-family: "Oswald";
  font-size: 100%;
  margin: 0;
}

// For debugging purposes only.
.section { border: solid 1px black; }

// Set minimum and maximum viewport heights.
.height-100vmin { height: 100vmin; }
.height-100vmax { height: 100vmax; }

// Centres text horizontally.
.text-center { text-align: center; }

// Prevent hyperlinks from using browser defaults.
a { color: inherit; }

// Adds a heavenly glow when hovering.
.icon-hover-heavenlyglow {
  &:hover {
    text-shadow: 1px 1px 50px #FFFFFF;
    transition: all 0.5s ease;
  }
}

// Icon fonts.
@import '_GlyphterIcons';

// Partials.
@import '_SectionHome';
@import '_SectionAboutMe';
