// Load Oswald font.
@font-face {
  font-family: "Oswald";
  src: url("../media/fonts/Oswald-Regular.ttf");
}

body {
  font-family: "Oswald";
  color: #333333;
  font-size: 100%;
  margin: 0;
}

// Set minimum and maximum viewport heights.
.height-minmax-100vh { min-height: 100vh; max-height: 100vh; }
.height-min-100vh { min-height: 100vh; }

// Centres text horizontally.
.text-center { text-align: center; }

// Prevent hyperlinks from using browser defaults.
a { color: inherit; text-decoration: none;}

// Adds a heavenly glow when hovering.
.icon-hover-heavenlyglow {
  &:hover {
    text-shadow: 1px 1px 50px #FFFFFF;
    transition: all 0.5s ease;
  }
}

.icon-hover-crimson {
  &:hover {
    color: #DC143C;
    transition: all 0.5s ease;
  }
}

// Responsive images.
.img-responsive {
  max-width: 100%;
  display: block;
}

.hidden {
  display: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.bg-white {
  background-color: #FFFFFF;
}

.cursor-hand {
  cursor: pointer;
}

.cursor-arrow {
  cursor: default;
}

.custom-row {
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.section {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

// Icon fonts.
@import '_GlyphterIcons';

// Responsive grid.
@import '_BootstrapGrid';

// Partials.
@import '_SectionHome';
@import '_SectionAboutMe';
@import '_SectionProjects';
@import '_SectionContactMe';
