// Navbar item hover effect definition..
@mixin navbar-hover() {
  background-color: white;
  color: $colour-crimson;
  box-shadow: inset 0 -3px 0 0 $colour-crimson;
  text-decoration: none;
  transition: all 0.5s ease;
};

#navbar-main {

  // Remove default link effects, make entire button clickable.
  a {
    display: block;
    color: inherit;
    text-decoration: none;
  };

  // Navbar positioning.
  // Fixed at the top of the screen at all times.
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  background-color: $colour-white;

  // Navbar bottom shadow.
  box-shadow: -5px 0 20px $colour-grey20;

  // Default cursor is a hand.
  cursor: pointer;

  // Justify elements within navbar.0
  text-align: justify;

  // Navbar buttons.
  .navbar-button {
    width: 25%;
    float: left;
    text-align: center;
    padding: 5px 0 5px 0;

    // Button icon.
    .icon {
      font-size: 1.75em;
      vertical-align: middle;
    };

    // Button name.
    .name {
      font-size: 1.25em;
      text-transform: uppercase;
      vertical-align: middle;
    };

    // Effects on hover.
    &:hover {
      color: $colour-crimson;
      @include navbar-hover();
    };
  };

  // Remove button icon when screen is less than 550px.
  @media (max-width: 550px) {
    .navbar-button {
      .name {
        display: none;
      };
    };
  };

};
