#section-portfolio {

  // No hyperlink styling.
  a {
    color: inherit;
    text-decoration: none;
  };

  // Background.
  background-image: url('../media/images/backgrounds/cubes/cubes.png');
  background-repeat: repeat;

  .btn-toggle-projects {
    border: solid 1px $colour-grey80;
    background-color: $colour-white;

    padding: 10px 0 10px 0;

    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;

    cursor: pointer;

    font-size: 0.75em;

    &:hover {
      color: $colour-crimson;
    };
  }

  .project-panel {

    text-align: center;

    margin-bottom: 25px;

    // Project title.
    .project-title {
      border: solid 1px $colour-grey80;
      background-color: $colour-white;
      padding: 10px 0 10px 0;
      font-size: 0.9em;
    };

    // Project Image
    .container-img {
      position: relative;
      border: solid 1px $colour-grey80;
      background-color: $colour-white;
      border-top: none;
      border-bottom: none;
    };

    // Project Panel buttons.
    .container-buttons {
      background-color: $colour-white;
      border: solid 1px $colour-grey80;
      cursor: pointer;
      width: 100%;

      padding: 5px 0 5px 0;

      // Individual button stylings.
      .button {
        width: 33%;
        float: left;
        margin: 0 auto;

        // Button hover effect.
        &:hover {
          color: $colour-crimson;
        };

        // Icon.
        .icon {
          font-size: 1.25em;
          margin-bottom: -15px
        };

        // Icon name
        .icon-name {
          font-size: 0.8em;
        };

      }; // End button stylings.
    }; // End Project Panel buttons.

    // More info popover.
    .container-moreinfopopup {

      // Center it vertically and horizonally within the project panel.
      position: absolute;
      top: 50%;
      left: 50%;
      width: 105%;
      transform: translate(-50%, -50%);

      background-color: $colour-white;
      border: solid 1px $colour-grey80;
      padding: 10px 15px 10px 15px;

      //padding: 20px 10px 20px 10px;
      opacity: 0.97;

      // Popover description.
      .container-description {
        margin-bottom: 10px;
        font-size: 0.8em;
      };

      // Popover technologies (icons).
      .container-technologies {
        display: flex;
        justify-content: space-between;

        .container-icon {
          display: inline-block;

          .icon {
            font-size: 1.6em;
          };

          .name {
            margin-top: -15px;
            font-size: 0.75em;
          };

        };
      }; // End popover technologies.

    }; // End popover.

  }; // End project panel.

}; // End section.
