#section-home {

  // Background image and darken filter.
  $opacity: 0.3; // Opacity
  background-image: linear-gradient(rgba(0,0,0,$opacity), rgba(0,0,0,$opacity)),
                    url('../media/images/backgrounds/W1YL4ZANPU.jpg');
  background-size: cover;

  // Font colour.
  color: $colour-white;

  // Custom padding.
  padding-top: 16vh !important;
  padding-bottom: 16vh !important;

  // Name.
  .name { font-size: 5em; };

  // Current position.
  .position {
    font-size: 3em;
    margin: 15px 0 15px 0;
  }

  // Tagline.
  .tagline {
    font-size: 1.75em;
    margin: 15px 0 15px 0;
  };

  // Horizontal rule.
  .hr {
    background-color: $colour-white;
    height: 5px;
    width: 50%;
    margin: 0 auto;
  };

  // Contains all icons.
  .container-icons {

    width: 100%;
    margin: 0 auto;

    // Container for one single icon.
    .container-single-icon {
      width: 33%;
      float: left;

      // Align icons closer to the centre.
      &:nth-child(1) { text-align: right; };
      &:nth-child(2) { text-align: center; };
      &:nth-child(3) { text-align: left; };
    };

    // Styles one icon.
    .icon {
      font-size: 5em;      // Icon size.
      color: $colour-white;// Icon colour.
      padding: 0 10px 0 10px; // Icon padding.

      // Icon hover effects.
      &:hover {
        text-shadow: 1px 1px 50px $colour-white;
        transition: all 0.5s ease;
      };

    };
  };

};
