#section-contactme {

  // Background.
  background-image: url('../media/images/backgrounds/footer_lodyas/footer_lodyas.png');
  background-repeat: repeat;

  padding-bottom: 25px;

  color: $colour-white;

  // Contact Form.
  #form-contact {

    width: 100%;

    // Status message.
    .status {
      visibility: hidden;
      border: solid 2px $colour-grey20;
      .message::after { content: "Status Message"; };
      margin: 5px 0 5px 0;
    }; // End status message.

    // Styles and status message for Success.
    .status-success {

      visibility: visible;        // Show message.
      transition: all 0.5s ease;  // Fade in.

      border-color: $colour-fern;
      background-color: $colour-fern;

      // Set message.
      .message::after { content: "Message sent!"; };
    }; // End styles and status message for Success.

    // Styles and status message for Success.
    .status-fail {

      visibility: visible;        // Show message.
      transition: all 0.5s ease;  // Fade in.

      border-color: $colour-crimson;
      background-color: $colour-crimson;

      // Set message.
      .message::after { content: "Message not sent!"; };
    }; // End styles and status message for Success.

    // Form fields.
    .form-field {

      // Spacing around a gield.
      margin: 5px 0 5px 0;

      // Input control.
      input {
        width: 100%;
        height: 45px;

        background-color: rgba(33,33,33,0.35);
        color: $colour-white;

        font-family: sans-serif;
        font-size: 0.8em;

        outline: none;

        padding: 10px;

        // Change <input/> background on focus.
        &:focus { background-color: rgba(255,255,255,0.15); };
      }; // End input control.
    }; // End form field.

    // Form message box.
    textarea {
      min-width: 100%;
      max-width: 100%;
      min-height: 200px;
      max-height: 300px;

      background-color: rgba(33,33,33,0.35);
      color: white;

      font-family: sans-serif;
      font-size: 0.8em;

      margin-top: 5px;
      padding: 10px;

      outline: none;

      // Change <textarea/> background on focus.
      &:focus { background-color: rgba(255,255,255,0.15); };
    }; // End form message box.

    // Default styling for a form field.
    .field-default { border: solid 2px $colour-white; };

    // Styling for a form field which does not pass validation.
    .field-invalid { border: solid 2px $colour-crimson; };

    // Styling for a form field which does pass validation.
    .field-valid { border: solid 2px $colour-fern; };

    // Submit button styling.
    button[type="submit"] {

      width: 100%;
      height: 60px;

      border: solid 2px $colour-white;

      background-color: rgba(33,33,33,0.35);
      color: white;

      font-family: Oswald;
      font-size: 1em;

      // Hover effect.
      &:hover {
        background-color: $colour-white;
        color: $colour-grey20;
        transition: all 0.5s ease;
      }; // End hover effect.

      // Disabled styling.
      &:disabled {
        opacity: 0.5;
        transition: all 0.5s ease;
      }; // End Disabled styling.

    }; // End Submit button styling.

  }; // End Contact Form.

  .notice {
    font-size: 0.9em;
  }

  // Container for all 3 icons.
  .array-icons {

    margin-top: 20px;

    // Single icon styling.
    .single-icon {
      display: inline-block;
      padding: 10px;

      font-size: 2.5em;

      // Icon hover effects.
      &:hover {
        text-shadow: 1px 1px 50px $colour-white;
        transition: all 0.5s ease;
      }; // End icon hover effects.

      // Hide icon label.
      .icon-label {
        display: none;
      }; // End hide icon label.

    };// End single icon styling.

  };// End container for all 3 icons.

}; // End section.
