#section-aboutme {

  // Reset font size.
  font-size: 1em;

  // Title font size.
  .title {
    font-size: $section-title-font-size;
  }

  .blurb {
    font-size: $section-content-font-size;
  }

}
