#section-portfolio {

  // No hyperlink styling.
  a {
    color: inherit;
    text-decoration: none;
  }

  // Background.
  background-image: url('../media/images/backgrounds/cubes/cubes.png');
  background-repeat: repeat;

  .project-panel {
    position: relative;
    text-align: center;

    margin-bottom: 25px;

    // Project title.
    .project-title {
      border: solid 1px $colour-grey80;
      background-color: $colour-white;
      padding: 10px;
    }

    // Project Image
    .container-img {
      border: solid 1px $colour-grey80;
      background-color: $colour-white;
      border-top: none;
      border-bottom: none;
    }

    // Project buttons.
    .container-buttons {
      background-color: $colour-white;
      border: solid 1px $colour-grey80;
      cursor: pointer;
      width: 100%;

      padding: 5px 0 5px 0;

      .button {
        width: 33%;
        float: left;
        margin: 0 auto;

        // Button hover effect.
        &:hover {
          color: $colour-crimson;
        }

        // Icon.
        .icon {
          font-size: 1.25em;
          margin-bottom: -10px
        }

        // Icon name
        .icon-name {
          font-size: 0.8em;
        }

      }
    }

    .container-moreinfopopup {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      background-color: $colour-white;
      border: solid 1px $colour-grey80;
      padding: 20px 10px 20px 10px;

      .container-description {
        margin-bottom: 10px;
        font-size: 0.85em;
      }

      .container-technologies {
        display: flex;
        justify-content: space-between;

        .container-icon {
          display: inline-block;

          .icon {
            font-size: 1.75em;
          }
          .name {
            margin-top: -15px;
            font-size: 0.85em;
          }
        }
      }
    }


  }

}
