#section-home {

  // Background image and darken filter.
  $opacity: 0.3; // Opacity
  background-image: linear-gradient(rgba(0,0,0,$opacity), rgba(0,0,0,$opacity)),
                    url('../media/images/backgrounds/W1YL4ZANPU.jpg');
  background-size: cover;

  // Font colour.
  color: $colour-white;

  // Custom padding for this section.
  padding-top: 16vh !important;
  padding-bottom: 16vh !important;

  // Name.
  .name { font-size: 5em; };

  // Current position.
  .position {
    font-size: 3em;
    margin: 15px 0 15px 0;
  }

  // Tagline.
  .tagline {
    font-size: 1.75em;
    margin: 15px 0 15px 0;
  };

  // Horizontal rule.
  .hr {
    background-color: $colour-white;
    height: 5px;
    width: 35%;
    margin: 0 auto;
  };

  // Container for all 3 icons.
  .array-icons {

    // Single icon styling.
    .single-icon {
      display: inline-block;
      padding: 10px;

      font-size: 5em;

      // Icon hover effects.
      &:hover {
        text-shadow: 1px 1px 50px $colour-white;
        transition: all 0.5s ease;
      }; // End icon hover effects.

      // Hide icon label.
      .icon-label {
        display: none;
      }; // ENd hide icon label.

    };// End single icon styling.

  };// End container for all 3 icons.

}; // End Section.
