#section-aboutme {

  // Background.
  background-image: url('../media/images/backgrounds/cubes/cubes.png');
  background-repeat: repeat;

  // Container which houses both the icon and icon name
  .container-icon {

    margin-top: 5px;
    margin-bottom: 5px;

    .icon { font-size: 2em; } // Icon size.
    .name { margin-top: -15px; }  // Icon name spacing.

  }; // End icon container.

}; // End section.
