#section-footer {

  // Background.
  background-image: url('../media/images/backgrounds/cubes/cubes.png');
  background-repeat: repeat;

  min-height: 0 !important;

  // Padding.
  padding: 3vw !important;

  font-size: 1.5em;
};
