#section-contactme {

  // Background.
  background-image: url('../media/images/backgrounds/footer_lodyas/footer_lodyas.png');
  background-repeat: repeat;

  color: $colour-white;

  form {

    width: 85%;
    margin: 0 auto;

    .form-field {
      margin: 10px 0 10px 0;

      label {
        display: block;
        text-align: left;
      }

      input {
        width: 100%;
        height: 45px;

        background-color: rgba(33,33,33,0.35);
        color: $colour-white;
        font-size: 0.8em;

        padding: 10px;
      }
    }

    textarea {
      min-width: 100%;
      min-height: 200px;

      background-color: rgba(33,33,33,0.35);
      font-size: 1em;
      color: white;

      padding: 10px;
    }

    .field-default {
      border: solid 2px $colour-white;
    }
    .field-invalid {
      border: solid 2px $colour-crimson;
    }
    .field-valid {
      border: solid 2px $colour-fern;
    }



  }

}
