@import '_responsivegrid';
@import '_fonts';
@import '_colours';
@import '_icons';

body {
  font-family: 'Oswald';
  font-size: 100%;
  color: $colour-grey20;
  margin: 0;
}

.img-responsive {
  max-width: 100%;
  display: block;
}

// Align text center.
.text-center {
  text-align: center;
}

.clearfix {
  clear: both;
}
// Style for each .section.
.section {

  // Dimensions.
  max-width: 100%;
  min-height: 100vh;

  // Padding.
  padding-top: 10vh;
  padding-left: 5vw;
  padding-right: 5vw;

  .title {
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
  }

  .content {
    font-size: 1.75em;
  }

}

// Import styles for individual sections.
@import '_section-home';
@import '_section-aboutme';
@import '_section-portfolio';
@import '_section-contactme';
