body {
  font-family: 'Arial', sans-serif;
  font-size: 100%; }

#canvas {
  display: block;
  margin: 0 auto;
  border: solid 1px #333333;
  padding: 100px; }
  #canvas .axis-title {
    font-size: 25px; }
  #canvas .graph-title {
    font-size: 35px; }

.tooltip {
  position: absolute;
  border: solid 1px #CCCCCC;
  background-color: #FFFFFF;
  visibility: hidden;
  margin: 25px;
  padding: 5px;
  min-width: 200px;
  height: auto;
  font-size: 14px; }
  .tooltip div {
    text-align: center;
    margin-bottom: 10px; }
