body {
  font-family: 'Arial', sans-serif;
  font-size: 100%; }

#chart-list {
  text-align: center;
  width: 95%;
  margin: 0 auto; }
  #chart-list .section-title {
    padding: 5px; }
  #chart-list .container-chart {
    border: solid 1px #333333;
    margin: 10px;
    font-size: 1.25em; }
    #chart-list .container-chart a {
      padding: 25px;
      display: block;
      text-decoration: none;
      color: inherit; }
    #chart-list .container-chart:hover {
      display: block;
      background-color: #333333;
      color: #FFFFFF;
      cursor: pointer; }
