@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald/Oswald-Regular.ttf"); }

body {
  font-family: 'Oswald', sans-serif;
  font-size: 100%; }

#container-application {
  width: 800px;
  max-width: 100%;
  margin: 0 auto; }

#container-logo {
  max-width: 100%;
  text-align: center;
  margin: 20px; }
  #container-logo img {
    width: 35%; }

#container-tabs {
  margin-top: 5px; }
  #container-tabs .tab {
    display: inline-block;
    background-color: #6441A5;
    color: white;
    float: left;
    width: 33.33%;
    text-align: center;
    box-shadow: 0 5px #3B2064;
    font-size: 1.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-bottom: 5px; }
    #container-tabs .tab:hover {
      background-color: #3B2064; }

#tbl-streams {
  width: 100%;
  border: solid 1px #6441A5;
  border-spacing: 0px; }
  #tbl-streams .stream-image {
    width: 15%;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #6441A5;
    border-right: solid 1px #6441A5;
    background-color: #6441A5; }
    #tbl-streams .stream-image img {
      max-width: 100%; }
  #tbl-streams .stream-info {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.75em;
    background-color: white;
    border-top: solid 1px #6441A5; }
    #tbl-streams .stream-info a {
      text-decoration: none; }
      #tbl-streams .stream-info a:focus {
        color: #262626; }
      #tbl-streams .stream-info a:link {
        color: #262626; }
      #tbl-streams .stream-info a:visited {
        color: #262626; }
      #tbl-streams .stream-info a:hover {
        color: #6441A5; }
      #tbl-streams .stream-info a em {
        font-size: 0.6em; }
